$primary: #0d9499;
$secondary: #fd7903;
$success: #25889c;
$warning: #efcb0e;
$negative: #b93221;
$danger: #b93221;
$alarm: #b93221;
$active: #00777d;
$white-scream: #e5e5e5;
$black: #000000;
$sidebar: #496571;
$tfoot: #7b949d;
$login-icon-color: #25889c;
$border: #a0a0a0;
$background-footer: #f9f9f9;
$color-footer: #454545;
$dropdown: #f9aa33;
$neutral: #ffffff;
$blackText: #212529;
$columnBorderColor: #dee2e6;
