.complaint-add {
  .btn-group {
    text-align: right;
    margin-bottom: 20px;
    display: block;
    button {
      margin-left: 15px;
    }
  }
  fieldset {
    margin-bottom: 32px;
  }
  .table {
    margin-bottom: 20px;
  }
}
